
/**Estrutuctural Elements*/
html, body{
  margin-bottom: -1em;
}
h1, h2, h3, h4, h5, a, p {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color:rgba(255, 255, 255, 1);
}

h1{
  text-transform: uppercase;
  font-size:500%;
}

h2{
  text-transform: uppercase;
  font-weight: 600;
}

form {
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.3);
}

label{
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  font-family: 'Oswald', sans-serif;
}


/*Class and Ids*/
.jumbotron{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;*/
    background-size: cover;
    max-width: 100%;
    margin-bottom: auto;
}

/* Feature */
.feature {
    background-image: url('../images/feature.jpg');
     background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    /*-webkit-background-size: 100% 100%;*/
    background-size: cover;
    max-width: 100%;
    margin-bottom: auto;
}

div#txtprincipal.col-lg-6.col-md-6.col-sm-12.col-xs-12{
	text-align: center;
	color: rgba(255, 255, 255, 1);
	font-size: 5em;
}

.btn-primary {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  display: inline-block;
  border-radius: 0%;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  border:none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: rgba(234, 155, 2, 1);
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: rgba(234, 155, 2, 1);
    border: none;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #d2cdcd;
    font-weight: 700;
}

.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color:#1c1c1c;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 2em;
}

.supporting p {
  color: #efefef;
  line-height: 20px;
  font-size: 1.5em;
}

div.return_form{
  height: 30em;
  padding: 5em;
  background-color: rgba(0, 0, 0, 0.3);
  color:rgba(255, 255, 255, 1);

}



/*Responsividade*/

@media screen and (min-width: 768px){
	.jumbotron.h1, .jumbotron h1 {
    	font-size: 2.5em;
	}
}

@media screen and (max-width: 768px){
	.jumbotron.h1, .jumbotron h1 {
    	font-size: 100%;
	}
  .feature.h1, .feature h1{
      font-size: 50%;
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
